.auth_page{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.auth_page form{
    background: #fff;
    border-radius: 32px;
    max-width: 450px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 55px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.auth_page form h2{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.auth_page form .showpass{
    position: relative;
}
.auth_page form .showpass small{
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    top: 25%;
    right: 12px;
    opacity: 0.6;
}
.auth_page form button{
    border-radius: 10px;
}

