/*--------------------Login & Register CSS----------------------*/
.auth_page{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.auth_page form{
    background: #2d3436;
    border-radius: 7px;
    max-width: 450px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    padding: 19px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}
.auth_page form h2{
    font-size: 31px;
    color: #fff;
}
.auth_page form input{
    padding: 19px
}
.auth_page form .showpass{
    position: relative;
}
.auth_page form .showpass small{
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    top: 22%;
    right: 12px;
    opacity: 0.6;
}
.auth_page form label{
    color: #cfcccc;
}
.auth_page form p{
    color: #fff
}
.auth_page form button{
    border-radius: 10px;
    background-color:#0077ff
}
.auth_page form .login small{
    position: absolute;
    cursor: pointer;
    top: 74.4%;
    right: 269px;
}
@media screen and (max-width: 768px){
    .auth_page form{
        max-width: 400px;
        padding: 18px 34px;
    }
    .auth_page form h2{
        font-size: 30px;
    }
    .auth_page form .login small{
        position: absolute;
        right: 243px;
    }
}
/*--------------------Forgot password CSS----------------------*/
.forgot_pw{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.forgot_pw form{
    background: #2d3436;
    border-radius: 7px;
    max-width: 450px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    padding: 19px 33px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}
.forgot_pw form h2{
    font-size: 35px;
    color: #fff;
}
.forgot_pw form label{
    color: #fff;
}
.forgot_pw form input{
    padding: 19px
}
.forgot_pw form button{
    border-radius: 10px;
    background-color:#0077ff
}

