.error_form{
    position: relative;
    min-height: 100vh;
    background-image: url(https://preview.redd.it/oe901qo4hth61.png?width=3840&format=png&auto=webp&s=eac9b8f429cf2d88a84ed865b6ee5493ff452dcb);
    background-size: cover;
    background-position: center;
}
.error_form h1{
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error_form p{
    font-size: 52px;
}
@media screen and (max-width: 768px){
    .error_form h1{
    font-size: 105px;
    }
    .error_form p{
        font-size: 34px;
    }
}
 
     


  
       



  




