.postList-wrap {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2.5rem;
  }

  @media (max-width: 998px) {
    .postList-wrap {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .postList-wrap {
      grid-template-columns: repeat(1, 1fr);
    }
  }