li {
  list-style: none;
}

.main-nav {
  width: 100%;
  top: 0;
  height: 5rem;
  display: grid;
  grid-template-columns: 8.8rem 1fr 1fr 1fr 9rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 100px -90px,
rgba(0, 0, 0, 0.3) 0px 24px 20px -30px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  height: 4rem
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-profile {
  grid-column: 4/5;
}

.user-profile li {
  text-align: end;
}

.user-profile .dropdown-menu.show {
    margin-left: 50%;
}

@media (max-width: 1280px) {
    .user-profile .dropdown-menu.show {
        margin-left: 100px;
    }
}

@media (max-width: 1080px) {
    .user-profile .dropdown-menu.show {
        margin-left: 60px;
    }
}

/* ----------- Grid part ends ----------------- */

.logo  {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(21, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo span {
  font-size: 2.8rem;
}

.menu-link ul li {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 2.6rem 1rem 2.6rem;
  border-radius: 20px;
  cursor: pointer;
}

.menu-link ul li:hover {
  background-color: #ddd;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.nav-item {
  font-size: 2.8rem;
}

.user-profile .hamburger-menu {
  display: none;
}

.user-profile li {
  margin-top: -12px;
}

.user-profile .hello {
  font-weight: 500;
  font-size: 1.2rem;
}

@media (max-width: 1270px) {
  .user-profile .hello {
    font-size: 1.1rem;
  }
}

@media (max-width: 1155px) {
  .user-profile .hello {
    font-size: 1rem;
  }
}

@media (max-width: 1097px) {
  .menu-link ul li {
    font-size: 1.2rem;
  }
}

/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    grid-template-columns: 7rem 1fr 1fr 1fr 6rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    grid-template-columns: 7rem 1fr 1fr 1fr 5rem;
  }

  .menu-link {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: rgb(255, 255, 255);
    height: 14.8rem;
    display: grid;
    grid-column: 3/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 25px -20px,
      rgba(0, 0, 0, 0.3) 0px 10px 90px -30px;
  }

  .mobile-menu-link ul {
    height: 14.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.5s;
  }

  .user-profile {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .user-profile .user-profile-desktop {
    height: 0;
    display: none;
  }

  .user-profile {
    height: 5rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .user-profile .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    height: 4.5rem;
  }

  .user-profile .dropdown-menu.show {
    margin-left: 5px;
}
}

@media (max-width: 798px) {
  .main-nav {
    grid-template-columns: 4rem 1fr 1fr 1fr 4rem;
  }

  .user-profile {
    height: 5rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .user-profile .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  .user-profile .hello {
    display: none;
  }
}