.commentInput{
    display: flex;
    align-items: center;
    border-radius: 22px;
}

.commentInput input{
    border: none;
    outline: none;
    background: #f7f7f7;
    flex: 1;
    overflow: auto;
}

.commentInput .postBtn {
    border: none;
    outline: none;
    background: #f7f7f7;
    font-weight: 500;
}