.display_post img{
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.display_post video{
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.posts{
    position: absolute;
    margin-top: 8px;
}

.display_post{
    position: relative;
    width: 318px;
    background-color: #f0f0f0;
    overflow: auto;
    margin-left: -10px;
    z-index: 10;
    border-radius: 4px;
}

.display_post:hover{
    background-color: #fff;
}
