.postItem-wrap {
    display: flex;
    flex-direction: column;
  }
  .postItem-cover {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 35px;
    margin-bottom: 0.6rem;
  }
  .postItem-wrap h3 {
    margin: 0.3rem 0 1rem 0;
    flex: 1;
    color: rgb(43, 41, 41);
  }
  
  .postItem-desc {
    position: relative;
    max-height: 49px;
    overflow: hidden;
    padding-right: 1rem;
    font-size: 0.9rem;
    color: #a9a9a9;
  }
  
  .postItem-desc::before {
    position: absolute;
    content: '....';
    bottom: 0;
    right: 10px;
  }
  
  